// 属性栏定义
$props-title-height: 8px;
$props-collapse-header-height:32px;
$props-collapse-header-arrow-margin: -4px;
$props-item-height:28px;
$props-item-input-margin-top: 2px;
$props-item-switch-margin-top: 6px;
$props-col-2-input-width: 55px;
$props-col-1-input-width: 130px;

.main-editor .title-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #fff;
    transition-property: height;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.65,.05,.36,1);
}

.main-editor .title-bar.collapsed{
    height: 0;
}

.main-editor .command-bar {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    height: 35px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #cbcbcb;
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition-property: top;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.65,.05,.36,1);
}

.main-editor .command-bar.title-bar-collapsed{
    top: 0px;
}

.main-editor .props-bar{
    position: absolute;
    top: 80px;
    right: 0;
    width: 250px;
    bottom: 35px;
    border-left: 1px solid #cbcbcb;
    background-color: #fff;
    transition-property: top, width;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.65,.05,.36,1);
}

.main-editor .props-bar.title-bar-collapsed {
    top: 35px;
}

.main-editor .props-bar.collapsed {
    width: 24px;
}

.main-editor .props-bar .holder {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 24px;
    border-left: 1px solid #cbcbcb;
}

.main-editor .props-bar .bar {
    position: absolute;
    left: 0;
    right: 24px;
    border-right: 1px solid #fafafa;

    .props-col-cross {
        min-height: $props-item-height;
        line-height: $props-item-height;
        &.group-end {
          margin-bottom: $props-title-height;
        }
    }

    .props-col-1 {
        height: $props-item-height;
        line-height: $props-item-height;
        position: relative;
        > div, > input,> label{
            width: $props-col-1-input-width;
            position: absolute;
            right: 0;
            top: $props-item-input-margin-top;
        }
        > div {
            &.ant-slider {
            margin: 6px;
            width: $props-col-1-input-width - 12;
            }
        }
        > span {
            &.ant-switch {
                position: absolute;
                right: 0;
                top: $props-item-switch-margin-top;                
            }
        }
        > div {
            &.colorButton {
                padding: 5px;
                background: #f6f7f8;
                border-radius: 1px;
                box-shadow: 0 0 0 1px rgba(0,0,0,.1);
                display: inline-block;
                cursor: pointer;
                width: auto;

                > div {
                    &.colorButton-inner {
                        width: 24px;
                        height: 14px;
                        border-radius: 2px;
                        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
                    }
                }
            }
        }
        &.group-end {
            margin-bottom: $props-title-height;
        }
    }
}

.rUl {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style: none;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

.rLi {
    margin-top: -1px;
    margin-left: -1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    overflow: hidden;
    width: 61px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-editor .command-bar {
    > div {
        &.colorButton {
            padding: 5px;
            background: #fff;
            border-radius: 1px;
            box-shadow: 0 0 0 1px rgba(0,0,0,.1);
            display: inline-block;
            cursor: pointer;
            width: auto;

            > div {
                &.colorButton-inner {
                    width: 24px;
                    height: 14px;
                    border-radius: 2px;
                }
            }
        }
    }
}
