@import './common.scss';

.page-newmap-appform {
    display: flex;
    flex-direction: column;
    .map-title {
        width: 100%;
        height: 30px;
        background-color: #f0f0ff;
        border-bottom: 1px solid #d3d5d9;
        line-height: 30px;
        padding-left: 8px;
    }
    .map-form-content {
        flex: 1;
        display: flex;
        visibility: visible;
        box-sizing: border-box;
        overflow-x: hidden;
        .map-form {
            min-width: 400px;
            flex: 1;
            margin: 8px;
            display: flex;
            flex-direction: column;
            border: 1px solid #e6e6e6;
            overflow: hidden;
            overflow-y: auto;
            .form-title {
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                background: #F4F5F9;
                border-bottom: solid 1px #ccc;
            }
            .form-content {
                flex: 1;
                .form {
                    width: 100%; // margin:0 0 10px 0;
                    .tab-bar {
                        height: 42px;
                        border: 1px solid #e7e7eb;
                        background-color: #f4f5f9;
                        padding-left: 18px;
                        border-bottom: 1px solid #ccc;
                    }
                    .tab-bar-content {
                        padding-bottom: 0;
                    }
                    .newTab-title {
                        height: 42px;
                        background-color: #f4f5f9;
                        line-height: 42px;
                    }
                    .newTab {
                        height: 37px;
                        vertical-align: middle;
                        padding: 6px 20px 13px;
                        border: 0;
                        background: transparent;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                        .tab-text {
                            height: 24px;
                            line-height: 24px;
                            vertical-align: middle;
                            padding: 6px 20px 13px;
                            border: 0;
                            background: transparent;
                            position: relative;
                        }
                    }
                    .newTab:hover {
                        border-bottom: 3px solid #A0A3AB;
                        cursor: pointer;
                    }
                    .newTabOn {
                        filter: none;
                        border-bottom: 3px solid #34A6F8;
                        bottom: -2px;
                        cursor: default;
                    }
                    .tab-form-content {
                        border-top: none;
                    }
                    .tab-bar-title-line {
                        border-bottom: 1px solid #A0A3AB;
                        height: 40px;
                    }
                }
                .margin10-lr {
                    padding: 0 10px;
                }
                .margin20-lr {
                    padding: 0 20px;
                }
                .margin20-lr-t {
                    padding: 20px 20px 0 20px;
                }
            }
            .tab-bg {
                border: 1px solid #e6e6e6;
                background-color: #fff;
                vertical-align: top;
                .tab-content {
                    width: 100%;
                    height: 100%;
                    min-height: 50px;
                    padding: 20px 20px 10px 20px;
                    .section-tb {
                        width: 100%;
                        min-height: 25px; // border: 1px solid #e7e7eb;
                        margin-bottom: 10px;
                    }
                    .section-title {
                        // border: 1px solid #d9dadc;
                        // background: #f4f5f9;
                        margin-bottom: 0;
                    }
                    .section-hr {
                        height: 34px;
                        line-height: 34px;
                        padding-left: 10px;
                        padding-right: 20px;
                        position: relative;
                    }
                    .section-hr:before {
                        content: '';
                        position: absolute;
                        top: 10px;
                        left: 0;
                        width: 3px;
                        height: 16px;
                        background: #34A6F8;
                    } // border: 1px solid #d9dadc;
                    border-top: none;
                    .section-td {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        min-height: 50px;
                        padding: 10px;
                    }
                    .fieldList-tb {
                        table-layout: fixed;
                        width: 100%;
                        .fieldList-tr {
                            width: 100%;
                            .fieldList-td {
                                vertical-align: middle;
                                padding: 3px 0;
                            }
                        }
                    }
                }
            }
            .form-foot {
                height: 67px;
                margin: 20px;
                border-top: 1px solid #dddddd;
                .foot {
                    ul {
                        vertical-align: middle;
                        text-align: center;
                        width: 100%;
                        li {
                            margin: 20px 5px;
                        }
                    }
                }
            }
            .no-border {
                border: 0;
            }
            .field-bar {
                // position: relative;
                width: 100%;
                height: 100%;
                min-height: 34px; // display: inline-block; // float: left;
                padding: 0 10px;
                line-height: 20px;
                .field-tb {
                    display: flex;
                    flex-direction: row;
                    table-layout: fixed;
                    td {
                        WORD-WRAP: break-word;
                        vertical-align: middle;
                    }
                    .td-date-time {
                        text-align: right;
                        padding-top: 1px;
                        padding-left: 4px;
                    }
                    .td-date-time {
                        width: 40px;
                    }
                    .datetime {
                        display: block;
                        cursor: pointer;
                    }
                    .datetime-dis {
                        display: block;
                        cursor: auto;
                    }
                    .miniux-icon {
                        position: absolute;
                        right: 1px;
                        top: 5px;
                        width: 20px;
                        height: 20px;
                        z-index: 100;
                        cursor: pointer;
                        color: #6f7988;
                    }
                    .miniux-lookpopup-button {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        background-color: #fff;
                        width: 28px;
                        height: 100%;
                        line-height: 20px;
                        text-align: center;
                        cursor: pointer;
                        border-left: 1px solid #d3d5d9;
                        color: #bbb;
                    }
                    .miniux-lookpopup-button:before {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -10px;
                        width: 28px;
                        text-align: center;
                        height: 20px;
                    }
                    .newlookup {
                        position: absolute;
                        font-size: 28px;
                        font-weight: 100;
                        height: auto;
                        bottom: 2px;
                        top: 2px;
                        right: 2px;
                    }
                    .datetime {
                        height: $form-field-cal-ico-height;
                        width: $form-field-cal-ico-width; // background: url($form-field-cal-btn-img-url) left no-repeat;
                    }
                    .datetime-dis {
                        height: $form-field-cal-ico-height;
                        width: $form-field-cal-ico-width; // background: url($form-field-cal-btn-disabled-img-url) left no-repeat;
                    }
                    .field-title {
                        width: 110px;
                        line-height: 34px;
                    }
                    .required {
                        color: #e60012;
                        overflow: hidden;
                        font-weight: bold;
                        text-overflow: ellipsis;
                        line-height: 30px;
                    }
                    .optional {
                        color: #000099;
                        overflow: hidden;
                        font-weight: bold;
                        text-overflow: ellipsis;
                    }
                    input.ant-input {
                        background: white;
                        border: solid 1px #D3D5D9;
                        width: 99.9%;
                        height: 30px;
                        display: block;
                        position: relative;
                        overflow: hidden;
                        padding-left: 8px;
                        padding-right: 1px;
                        border-radius: 0;
                    }
                    textarea.ant-input {
                        background: white;
                        border: solid 1px #D3D5D9;
                        width: 99.9%;
                        display: block;
                        position: relative;
                        overflow: hidden;
                        padding-left: 8px;
                        padding-right: 1px;
                        border-radius: 0;
                    }
                    span.ant-radio-inner {
                        border-color: #7b9ebd;
                        cursor: pointer;
                    }
                    .select-field {
                        width: 100%;
                        position: relative;
                        .select-field-text {
                            width: 99.9%
                        }
                        .select-field-btn {
                            position: absolute;
                            width: 28px;
                            height: 28px;
                            border: 0;
                            line-height: 23px;
                            top: 2px;
                            right: 1px;
                            text-align: center;
                        }
                    }
                    .field-content {
                        flex: 1;
                        padding-top: 1px;
                        .new-require {
                            height: 30px;
                            width: 15px;
                        }
                        .input-number {
                            text-align: right;
                        }
                        .input-date-time {
                            text-align: center;
                        }
                        .input-disable {
                            background-color: transparent;
                            border-color: #cccccc;
                        }
                        a {
                            color: #0000ff;
                            text-decoration: underline;
                        }
                        .read-only {
                            border-color: #cccccc;
                            background-color: #fff;
                            overflow: hidden;
                            font-weight: bold;
                            text-overflow: ellipsis;
                        }
                        .ant-radio-wrapper {
                            margin: 0;
                        }
                        >div {
                            width: 100%; // div.ant-select-selection {
                            //     font-size: 12pt;
                            //     font-family: 宋体, Tahoma, Verdana, Arial;
                            //     width: 99.9%;
                            //     height: 19px;
                            //     border: 1px solid #7b9ebd;
                            //     line-height: 15px;
                            //     border-radius: 0;
                            //     padding: 0;
                            //     div.ant-select-selection__rendered {
                            //         line-height: 19px;
                            //     }
                            //     span.ant-select-arrow {
                            //         width: 23px;
                            //         height: 23px;
                            //         border: 1px solid #9999AA;
                            //         line-height: 23px;
                            //         top: 3px;
                            //         right: -4px;
                            //     }
                            // }
                        }
                        .ant-checkbox-inner {
                            background-color: #fff;
                            border-color: #D3D5D9;
                            input:checked {
                                background-color: #9999AA;
                                color: #9999AA;
                                margin: 3px 0.5ex;
                                padding: initial;
                                border: initial;
                            }
                        }
                        .checkbox {
                            width: 16px;
                            height: 16px;
                            margin-right: 8px;
                            margin-top: 2px;
                            border: 1px solid #c6c8cc;
                        }
                        .ant-radio-inner {
                            background-color: #fff;
                            border-color: #D3D5D9;
                        }
                        .ant-radio-inner:after {
                            background-color: #9999AA;
                        }
                    }
                }
                .pss-flow-layout {
                    height: 100%;
                }
            }
        }
    }
}