.map-grid {
    .map-title {
        width: 100%;
        height: 30px;
        background-color: #f0f0ff;
        border-bottom: 1px solid gray;
        line-height: 30px;
        padding-left: 8px;
    }
}