$SELECT_STYLE: 0 0 0 2px rgba(24, 144, 255, 0.2);

.page-appgrid {
    .map-title {
        width: 100%;
        height: 30px;
        background-color: #f0f0ff;
        border-bottom: 1px solid #d3d5d9;
        line-height: 30px;
        padding-left: 8px;
    }

    .map-grid {
        visibility: visible;
        box-sizing: border-box;
        overflow-x: hidden;
        margin-top: 8px;
        padding: 2px;
        height: auto;
        display: block;
        color: #333;
    
        .listheader-search {
            margin-bottom: 12px;
            height: 30px;
            line-height: normal;

            .map-select-open.search-item {
                box-shadow: $SELECT_STYLE;
            }
            .search-item {
                margin-right: 15px;
                float: left;
                &:hover {
                    box-shadow: $SELECT_STYLE;
                }

                label {
                    display: inline-block;
                    margin-right: 15px;
                }
    
                .item-content {
                    display: inline-block;
    
                    .ant-select-selection {
                        border-radius: 0px;
                    }
                    .ant-select-selection--single {
                        height: 30px;
                    }
                }
            }
            .search-item.searchbox-quickfind {
                .ant-input {
                    height: 30px;
                    border-radius: 0px;
                }
            }

            .btn-adv-search {
                float: left;
                margin-top: 5px;
                color: #459AE9;
            }
        }

        .map-appfilter {
            .mc-filter {
                padding-bottom: 14px;

                .mc-filter-controls {
                    display: table;
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;
                    border: 1px solid #d3d5d9;
                    table-layout: fixed;
                    line-height: 1;

                    .map-select-open.mc-filter-item {
                        box-shadow: $SELECT_STYLE;
                    }
                    .mc-filter-item {
                        height: 39px;
                        border-bottom: 1px dashed #e5e5e5;
                        &:hover {
                            box-shadow: $SELECT_STYLE;
                        }

                        .mc-filter-item__label {
                            padding: 0px;
                            font-weight: 400;
                            line-height: 38px;
                            text-align: left;
                            padding-left: 12px;
                            vertical-align: top;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .mc-filter-item__target {
                            padding: 3px 0;
                            vertical-align: top;

                            .mc-filter-item__inner {
                                display: table;
                                width: 100%;

                                .mc-filter-item__part {
                                    display: table-cell;
                                    vertical-align: top;
                                    white-space: nowrap;
                                    padding-right: 18px;

                                    .mc-filter-item__allcheck {
                                        height: 24px;
                                        line-height: 22px;
                                        padding: 0 10px;
                                        border-radius: 2px;
                                        margin: 4px 0 0;
                                        overflow: hidden;
                                        cursor: pointer;
                                        display: inline-block;
                                        border: 1px solid #34A6F8;
                                        position: relative;
                                    }
                                }
                                .mc-filter-item__control {
                                    display: table-cell;
                                    vertical-align: top;
                                    width: 100%;

                                    .ant-input {
                                        height: 30px;
                                        border-radius: 0px;
                                    }
                                }
                            }
                        }
                    }

                    .mc-filter-item:last-child {
                        border-bottom: 0;
                    }
                }

                .mc-filter-toolbar {
                    display: block;
                    padding: 4px 15px;
                    margin-top: -1px;
                    border: 1px solid #ddd;
                }
            }
        }

        .listheader {
            margin-bottom: -1px;
            border: 0;
            // position: relative;

            .mc-listheader {
                padding-top: 0;
                padding-bottom: 0;
                height: auto;
                background: #f8f8fa;
                // position: relative;

                .map-select-open.mc-listheader__views {
                    box-shadow: $SELECT_STYLE;
                }
                .mc-listheader__views {
                    display: block;
                    border-bottom: 1px solid #e7e7eb;
                    margin-bottom: -1px;
                    // position: relative;
                    padding: 3px 18px 3px 18px;
                    border: 1px solid #e7e7eb;
                    &.title {
                        &:hover {
                            box-shadow: $SELECT_STYLE;
                        }
                    }

                    .mc-listheader__title {
                        font-size: 15px;
                        font-weight: 400;
                        margin: 0;
                        line-height: 32px;
                        display: inline-block;
                    }

                    .mc-listheader-viewlist {
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;

                        .mc-listheader-viewlist-buttongroup {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            height: 30px;

                            .mc-listheader-viewlist-buttongroup__item.map-select-open {
                                box-shadow: $SELECT_STYLE;
                            }
                            .mc-listheader-viewlist-buttongroup__item.is-selected {
                                background-color: #576477;
                                border-color: #576477;
                                z-index: 3;
                                color: #fff;
                            }
                            .mc-listheader-viewlist-buttongroup__item {
                                float: left;
                                border: 1px solid #c9cace;
                                padding: 7px 20px;
                                line-height: 1;
                                margin-right: -1px;
                                // position: relative;
                                cursor: pointer;
                                &:hover {
                                    box-shadow: $SELECT_STYLE;
                                }
                            }
                            .mc-listheader-viewlist-buttongroup__item:first-child {
                                border-top-left-radius: 3px;
                                border-bottom-left-radius: 3px;
                            }
                            .mc-listheader-viewlist-buttongroup__item:last-child {
                                border-top-right-radius: 3px;
                                border-bottom-right-radius: 3px;
                            }
                        }
                    }
                }

                .mc-listheader__addon {
                    border: 1px solid #e7e7eb;
                    margin-top: 0;
                    right: 1px;
                    width: auto;
                    padding: 0 18px;
                    top: 50%;
                    background-color: #f8f8fa;

                    .mc-listheader__addon-wrap {
                        display: table;
                        width: 100%;
                        .mc-listheader__toolbar {
                            display: table-cell;
                            width: 100%;
                            vertical-align: top;
                            .listheader-toolbar {
                                margin-left: -6px;
                                margin-right: -6px;
                                height: 41px;

                                .listheader-toolbar.map-left {
                                    min-width: 50%;
                                    float: left;
                                }
                                .map-left {
                                    text-align: left;
                                    display: inline-block;
                                    height: 41px;
                                    list-style: none;
                                    margin: 0px;
                                    padding: 0px;
                                }
                                .listheader-toolbar.map-right {
                                    min-width: 50%;
                                    float: right;
                                }
                                .map-right {
                                    text-align: right;
                                    display: inline-block;
                                    height: 41px;
                                    list-style: none;
                                    margin: 0px;
                                    padding: 0px;
                                }

                                .ant-btn.map-select-open {
                                    box-shadow: $SELECT_STYLE;
                                }
                                .ant-btn {
                                    margin: 4px 6px 5px;
                                    padding: 4px 22px;
                                    border-radius: 3px;
                                    min-width: 60px;
                                    position: static;
                                    color: #333;
                                    &:hover {
                                        box-shadow: $SELECT_STYLE;
                                    }
                                }
                                .ant-btn-primary {
                                    background-color: #34A6F8;
                                    border-color: #34A6F8;
                                }
                                .ant-switch-checked {
                                    background-color: #34A6F8;
                                }
                                .map-switch.map-select-open {
                                    box-shadow: $SELECT_STYLE;
                                }
                                .map-switch {
                                    &:hover {
                                        box-shadow: $SELECT_STYLE;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .map-grid-viewcontainer * {
            box-sizing: content-box;
        }
        .map-select-open.map-grid-viewcontainer {
            box-shadow: $SELECT_STYLE;
        }
        .map-grid-viewcontainer {
            box-sizing: content-box;
            border: 1px solid #e5e5e5;
            &:hover {
                box-shadow: $SELECT_STYLE;
            }

            .map-grid-viewport {
                overflow: hidden;
                height: 100%;

                .map-grid-columns {
                    background-color: #F8F8FA;
                    width: 100%;
                    overflow: hidden;
                    height: 35px;
                    position: relative;

                    .map-grid-columns-view {
                        height: 35px;
                        margin-left: 0px;
                        margin-right: 125px;
                    }
                    .map-grid-columns-lock {
                        padding-bottom: 0;
                        position: absolute;
                        top: 0;
                        overflow: hidden;
                    }
                    .map-grid-columns-lock-right {
                        height: 35px;
                        background-color: #F8F8FA;
                        border-right: none;
                        border-left: solid 1px #e5e5e5;
                        right: 0;
                        left: auto;
                    }
                    
                    .map-grid-table {
                        width: 100%;
                        position: relative;
                        text-align: left;
                        table-layout: fixed;
                        display: table;
                        height: 1px;

                        .map-select-open.map-grid-headerCell {
                            box-shadow: $SELECT_STYLE;
                        }
                        .map-grid-headerCell {
                            border-right-color: #e5e5e5;
                            border-bottom-color: #e5e5e5;
                            border-right-width: 1px;
                            border-right-style: solid;
                            border-bottom-width: 1px;
                            border-bottom-style: solid;
                            &:hover {
                                box-shadow: $SELECT_STYLE;
                            }

                            .map-grid-headerCell-outer {
                                height: 34px;
                                padding-left: 10px;
                                padding-right: 10px;
                                .map-grid-headerCell-inner {
                                    height: 34px;
                                    padding: 0;
                                    line-height: 34px;
                                }
                            }

                            .map-grid-headerCell-nowrap {
                                white-space: nowrap;
                                word-break: keep-all;
                            }
                        }

                        .map-grid-refresh {
                            margin: 6px 0 0;
                            width: 17px;
                            height: 24px;
                            background: url(../images/classic-icon.png) -305px 0;
                            vertical-align: top;
                            cursor: pointer;
                            float: right;
                            margin-right: 4px;
                        }

                        .map-grid-checkbox {
                            margin-top: 7px;
                            display: inline-block;
                            overflow: hidden;
                            width: 16px;
                            height: 16px;
                            vertical-align: top;
                            margin-left: 2px;
                            margin-right: 5px;
                            background: url(../images/checkbox.png) no-repeat;
                            background-position: 0 0;
                            cursor: pointer;
                        }
                        .map-grid-checkbox__check-all {
                            margin-top: 9px;
                        }

                        .map-grid-sortIcon {
                            display: inline-block;
                            margin-top: -3px;
                            width: 12px;
                            height: 25px;
                            background: url(../images/classic-icon.png) 0 -25px;
                            vertical-align: middle;
                            background-position: -361px 1px;
                            overflow: hidden;
                            margin-left: 2px;
                            margin-right: 2px;
                        }
                    }
                }

                .map-grid-body {
                    overflow: visible;
                    width: 100%;
                    padding: 0;
                    position: relative;
                    text-align: left;
                    clear: both;

                    .map-grid-rows-view {
                        overflow-x: auto;
                        overflow-y: hidden;
                        position: static;
                        height: 100%;

                        .map-grid-table {
                            padding-bottom: 1px;
                            position: relative;
                            text-align: left;
                            table-layout: fixed;
                            display: table;
                            height: 1px;

                            .map-grid-emptyText {
                                padding: 15px;
                                text-align: left;
                                padding-left: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}
