$SELECT_BORDERCOLOR: rgba(24, 144, 255, 1);
$SELECT_BACKCOLOR: rgba(24, 144, 255, 0.3);
$form-field-cal-ico-width: 36px;
$form-field-cal-ico-height: 19px;
.map-select-open {
    border: 1px dashed $SELECT_BORDERCOLOR!important;
    background-color: $SELECT_BACKCOLOR;
}

table {
    border-collapse: collapse;
}

.bar-show {
    display: block;
}

.bar-hide {
    display: none!important;
}