table {
    table-layout: auto;
}

.map-selected {
    border: 1px dashed blue !important;
    padding: 0px !important;
    position: relative;
}

.ps-map {
    overflow: hidden !important;
    font: 12px !important;
    color: #000000 !important;
    display: flex;
    flex-direction: column;
    .ps-map-title {
        width: 100%;
        height: 30px;
        background-color: #f0f0ff;
        border-bottom: 1px solid gray;
        line-height: 30px;
        padding-left: 8px;
    }
    .grid-form {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .grid-top {
            >div {
                display: -webkit-flex;
                /* Safari */
                display: flex;
                flex-direction: row;
                >div {
                    width: 50%;
                    padding-right: 10px;
                    margin: 5px 0;
                }
            }
        }
        .grid-table {
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }
    background: #FBFBFB;
    .proj-view {
        width: 100%;
        .csr-pc-map-app-project {
            min-width: 250px;
        }
        .csr-pc-map-app-view {
            min-width: 250px;
            .ant-select-arrow {
                border: 0;
                color: #555;
            }
            .ant-select-selection {
                border-color: #555;
            }
        }
        .first-page {
            margin-right: 15px;
        }
    }
    .csr-pc-map-app-find {
        width: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 10px;
        .app-find-menu {
            height: 24px;
            background-color: #4984c2;
            padding-left: 4px;
            overflow: hidden;
            font-size: 12px;
            color: #fff;
            .app-find-menu-title {
                float: left;
                font-family: 宋体;
                line-height: 24px;
                .ant-select-selection {
                    border-radius: 0;
                }
                .ant-select-selection--single {
                    line-height: 24px;
                }
                .ant-select-selection__rendered {
                    line-height: 24px;
                }
                .height-grade {
                    margin-left: 5px;
                    width: 19px;
                    height: 19px;
                    border: 1px solid #4683c4;
                    background: url('../../../../images/map/manage.gif') left no-repeat;
                }
            }
            .app-find-menu-item {
                cursor: pointer;
                float: left;
                >p {
                    line-height: 24px;
                    float: left;
                    font-family: 宋体;
                }
                .lookup {
                    float: left;
                    width: 19px;
                    height: 19px;
                    border: 1px solid #4683c4;
                    background: url('../../../../images/map/ico-advance.gif') left no-repeat;
                }
            }
        }
        .app-find-content {
            min-height: 30px;
            height: 100%;
            margin: 10px;
        }
        .app-find-text-td {
            padding-left: 8px;
        }
        .ant-btn {
            width: 70px;
            height: 23px;
            border-radius: unset;
            margin-right: 20px;
            float: right;
            color: #000000;
        }
    }
    .csr-pc-map-grid-menu {
        width: auto;
        height: 26px;
        background-color: #4984c2;
        padding-left: 4px;
        padding-top: 2px;
        overflow: hidden;
        color: #FFF;
        >div {
            &.menu-list {
                display: flex;
                justify-content: flex-end;
            }
            >div {
                &.app-grid-menu-item {
                    cursor: default; // float: left;
                    margin-right: 8px;
                    &:hover {
                        background-color: #3a7cbc;
                        cursor: hand;
                    }
                    >p {
                        line-height: 20px;
                        float: left;
                        margin-left: 5px;
                        font-family: 宋体;
                    }
                    .dropDownArrow {
                        float: right;
                        margin-top: 4px;
                        margin-left: 2px;
                    }
                }
            }
        }
        .app-grid-menu-title {
            float: left;
            width: 200px;
            font-family: 宋体;
        }
    }
    .csr-pc-map-app-grid {
        min-width: 100px; //这里需要再斟酌一下
        border: 1px solid #e6e6e6;
        border-top: 0;
        height: 100%;
        overflow-x: auto;
        position: relative;
        .grid-title {
            white-space: nowrap;
            .grid-title-index {
                width: 50px;
            }
            .grid-title-content {
                display: inline-block;
                .title-list {
                    display: flex;
                }
                border-bottom: 1px solid #e6e6e6;
            }
            .app-grid-title-item {
                height: 22px;
            }
            .title-split {
                position: relative;
                top: -18px;
                width: 4px;
                height: 14px;
                float: right;
                background: url('../../../../images/map/bar_line.gif') left no-repeat;
                cursor: col-resize;
                &.no-ctrl {
                    cursor: default;
                }
            }
            .title {
                height: 22px;
                display: inline-block;
                text-align: center;
                min-width: 50px;
                white-space: nowrap; // .title-content {
                //     display: inline-block;
                // }
            }
        }
    }
    input.ant-input {
        font-size: 9pt;
        font-family: 宋体, Tahoma, Verdana, Arial;
        width: 99.9%;
        height: 19px;
        border: 1px solid #7b9ebd;
        line-height: 15px;
        border-radius: 0;
        padding: 0;
    }
    textarea.ant-input {
        font-size: 9pt;
        font-family: 宋体, Tahoma, Verdana, Arial;
        width: 99.9%;
        border: 1px solid #7b9ebd;
        border-radius: 0;
        padding: 0;
        margin-bottom: 5px;
    }
    .ant-select-selection {
        border-radius: 0px !important;
    }
    .ant-select-selection-selected-value {
        height: 19px;
        line-height: 19px;
        color: #000000;
    }
    .ant-select-selection.ant-select-selection--single {
        height: 19px;
    }
    .ant-select-selection__rendered {
        line-height: 19px !important;
        >span {
            cursor: hand;
            color: blue;
            text-decoration: underline;
        }
    }
    .ant-select-arrow {
        border: 1px solid #9999AA;
        width: 19px;
        height: 19px;
        line-height: 19px !important;
        margin-top: -1px !important;
        top: 0px !important;
        right: -1px !important;
    }
    .gu-mirror {
        box-sizing: border-box;
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
    }
    .gu-hide {
        display: none !important;
    }
    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }
    .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
        list-style: none;
    }
}

.grid-bottom {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    border-top: 1px solid #e6e6e6;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column
}

.item-center {
    align-items: center;
    justify-items: center
}

.full-item {
    width: 100%;
    height: 100%;
}

.flex1 {
    flex: 1;
}

.table-title {
    border: 1px solid #eee;
    font-weight: bold;
    flex-shrink: 0;
    line-height: 40px;
    box-sizing: border-box;
}

.font-narmal {
    font-weight: n
}

.title-width {
    width: 50px;
    line-height: 40px;
    text-align: center;
}

.component-placeholder {
    color: '#bfbfbf';
    font-weight: 'bold';
    line-height: 40px;
    text-align: 20px;
}

.table-content {
    min-width: 100%;
    overflow-x: auto;
}

.rowItem {
    border: 1px solid #eee;
    text-align: center;
    line-height: 40px;
}

.cellStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 40px;
}

.cellStyle .ant-input-sm {
    max-width: 90%;
    display: block;
}

.backgroundTitle {
    background: #fafafa;
}