.stage {
    position: absolute;
    margin: auto;
    overflow: auto;
    background-color: #f3f3f3;
    display: block;
    transition-property: top, left, right;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.65,.05,.36,1);
}