
.ps-map{
    .proj-view{
        width: 100%;
        .csr-pc-map-app-project{
            width: 100%;
        }
        .csr-pc-map-app-view{
            width: 100%;
        }
    }
    .csr-pc-map-app-find{
        
    }
    .csr-pc-map-app-grid-menu{
    
    }
    .csr-pc-map-app-grid{
    
    }
}