table{
    table-layout: auto;
}

.selectecd{
    border: 2px solid blue;
}

.ps-map{
    .grid-form{
        width: 100%;
        height: 100%;
    }
    background: #FBFBFB;
    .proj-view{
        width: 100%;
        .csr-pc-map-app-project{
            min-width: 250px;
        }
        .csr-pc-map-app-view{
            min-width: 250px;
            .ant-select-arrow {
                border: 0;
                color: #555;
            }
            .ant-select-selection{
                border-color: #555;
            }
        }
        .first-page{
            margin-right: 15px;
        }
    }
    .csr-pc-map-app-find {
        width: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 10px;
        .app-find-menu {
            height: 24px;
            background-color: #4984c2;
            padding-left: 4px;
            overflow: hidden;
            font-size: 12px;
            color: #fff;
            .app-find-menu-title {
                float: left;
                font-family: 宋体;
                line-height: 24px;
    
                .ant-select-selection {
                    border-radius: 0;
                }
                .ant-select-selection--single{
                    line-height: 24px;
    
                }
                .ant-select-selection__rendered{
                    line-height: 24px;
                }
    
                .height-grade{
                    margin-left: 5px;
                    width: 19px;
                    height: 19px;
                    border: 1px solid #4683c4;
                    background: url('../../../images/map/manage.gif') left no-repeat;
                }
            }
            .app-find-menu-item {
                cursor: pointer;
                float: left;
                > p {
                    line-height: 24px;
                    float: left;
                    font-family: 宋体;
                }
    
                .lookup {
                    float: left;
                    width: 19px;
                    height: 19px;
                    border: 1px solid #4683c4;
                    background: url('../../../images/map/ico-advance.gif') left no-repeat;
                }
            }
        }
        .app-find-content {
            height: 100%;
            margin: 10px;
        }
    }
    .csr-pc-map-grid-menu {
        width: auto;
        height: 26px;
        background-color: #4984c2;
        padding-left: 4px;
        padding-top: 2px;
        overflow: hidden;
        color: #FFF;
        > div {
          > div {
            &.app-grid-menu-item {
              cursor: default;
              float: left;
              margin-right: 8px;
              &:hover {
                background-color: #3a7cbc;
                cursor:hand;
              }
              >p {
                line-height: 20px;
                float: left;
                margin-left: 5px;
                font-family: 宋体;
              }
              .dropDownArrow{
                float:right;
                margin-top:4px;
                margin-left:2px;
              }
            }
          }
        }
        .app-grid-menu-title{
          float: left;
          width: 200px;
          font-family: 宋体;
        }
    }
    .csr-pc-map-app-grid{
    
    }


    input.ant-input {
        font-size: 9pt;
        font-family: 宋体, Tahoma, Verdana, Arial;
        width: 99.9%;
        height: 19px;
        border: 1px solid #7b9ebd;
        line-height: 15px;
        border-radius: 0;
        padding: 0;
    }
    textarea.ant-input {
        font-size: 9pt;
        font-family: 宋体, Tahoma, Verdana, Arial;
        width: 99.9%;
        border: 1px solid #7b9ebd;
        border-radius: 0;
        padding: 0;
        margin-bottom: 5px;

    }
    .ant-select-selection {
        border-radius: 0px !important;
    }

    .ant-select-selection-selected-value {
        height: 19px;
        line-height: 19px;
        color: #000000;
    }

    .ant-select-selection.ant-select-selection--single {
        height: 19px;
    }

    .ant-select-selection__rendered {
        line-height: 19px !important;
        > span {
            cursor: hand;
            color: blue;
            text-decoration: underline;
        }
    }
    .ant-select-arrow {
        border: 1px solid #9999AA;
        width: 19px;
        height: 19px;
        line-height: 19px !important;
        margin-top: -1px !important;
        top: 0px !important;
        right: -1px !important;
    }

}